@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
  font-family: 'Handjet', cursive;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainx {
  background: linear-gradient(to bottom right, #0f3436, #20061a);
  color: white;
  background-size: 150%;
  animation: gradient-animation 16s ease infinite;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  display: flex;
  min-height: 100vh;
  font-family: 'Handjet', cursive;
}

.mainx h2 {
  color: coral;
}


.mainx h3 {
  color: green;
}

.screen {
  width: 84%;
}

.navigation {
  background-color: #0f3436;
  background: linear-gradient(to bottom left, #38857a7e,#38857a30, transparent);
  display: flex;
  flex-direction: column;
  width:16%;
  min-height: 100vh;
  height: auto;
  position:static;
  text-align: center;
} 

.navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: left;
  min-height: 70vh;
  font-size: 30px;
  position: fixed;
}

.navGroup {
  margin: 20px;
  overflow: hidden;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out; 
  position: relative;
  max-height: 0;
  opacity: 0; 
}

.navGroup.open {
  max-height: 500px;
  opacity: 1; 
}

.navGroup.closed {
  max-height: 0;
  opacity: 0; 
}

.selected {
  color: cyan;
}