@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
  font-family: 'Handjet', cursive;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainx {
  background: linear-gradient(to bottom right, #0f3436, #20061a);
  color: white;
  background-size: 150%;
  animation: gradient-animation 16s ease infinite;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  display: flex;
  min-height: 100vh;
  font-family: 'Handjet', cursive;
}

.mainx h2 {
  color: coral;
}

.screen {
  width: 87%;
  margin: 100px;
}

.navigation {
  background-color: #0f3436;
  background: linear-gradient(to left, #38857a7e,#38857a30, transparent);
  display: flex;
  flex-direction: column;
  width:13%;
  min-height: 100vh;
  height: auto;
  position:static;
  text-align: center;
} 

.navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: left;
  min-height: 100vh;
  font-size: 30px;
  position:fixed;
}

.navGroup {
  margin-left:24px;
}

.selected {
  color: green;
}