.container3D {
    height: 75vh;
}

.containerText {
    font-size: 22px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageS {
    width: 300px;
    height: auto;
}
