.container3D {
    height: 75vh;
    width: 50%;
}

.containerText {
    font-size: 22px;
    width: 50%;
    margin: 100px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageS {
    width: 300px;
    margin: 100px;
    height: auto;
}
